.navigation-container {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.84);
  opacity: 0.8;
  padding: 10px 20px;
  .nav-link {
    color: black;
    &.active {
      color: blue;
    }
    + .nav-link {
      padding-left: 20px;
    }
  }
}
