@import "./pallet.scss";

$gap: 20px;

#root {
  height: 100vh;
  width: 100vw;
  color: $text;
}

.app-container {
  font-family: "Noto Sans KR", sans-serif;
  box-sizing: border-box;
  height: auto;
  width: 100%;
  padding: $gap;
  background-color: $background2;
}

.separator {
  stroke-width: 1px;
  stroke: $primary;
  stroke-linecap: butt;
  width: 100%;
  height: 40px;
  fill: $primary;
}

.triangle {
  width: 20vw;
  height: 20vw;
  position: fixed;
  left: 0;
  opacity: 0.3;
  top: 0;
  fill: $background1;
}

.triangleB {
  width: 20vw;
  height: 20vw;
  position: fixed;
  right: 0;
  opacity: 0.3;
  bottom: 0;
  fill: $primary;
}
